<h3>Email Confirmation</h3>

<p>
    @TempData["success-notification"]
    @TempData["error-notification"]
</p>

<a asp-area="Identity"
   asp-controller="Account"
   asp-action="Login"
   class="btn btn-success">
    Go To Login
</a>
