@model School_Management_System.ViewModels.ForgetPasswordVM

<h3>Forget Password</h3>

<form asp-area="Identity" asp-controller="Account" asp-action="ForgetPassword" method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label>Username or Email</label>
        <input asp-for="UserNameOREmail" class="form-control" />
        <span asp-validation-for="UserNameOREmail" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Send OTP
    </button>
</form>
